body{
    background-image: url(../image/photo-1541339246244-261d72e381b7.avif);
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    background-size: cover;
    background-attachment: fixed;
}