body{
    background-color: blueviolet;
}
h1{
    color: brown;
}
p{
    color: chocolate;
}
img{
    width: 400px;
    height: 300px;
}
.heading{
    color: yellow;
    text-align: center;
}  
.paragraph{
    color: yellow;
}
.webpage{
    color: coral;
    text-align: center;
}
.note{
    color: brown;
}
.provident{
    color: aqua;
    text-align: center;
}
.pages{
    color: blue;
}