h1+p{
    color: darkorchid;
}
p+h1{
    color: deepskyblue;
}
h2+p{
    color: darkred;
}
p+h2{
    color: aqua;
}
h3+p{
    color: chartreuse;
}
p+h3{
    color: bisque;
}
h4+P{
    color: blue;
}
p+h4{
    color: burlywood;
}
h5+p{
    color: darkgreen;
}
p+h5{
    color: violet;
}
h6+p{
    color: darkkhaki;
}
p+h6{
    color: crimson;
}
