.img1{
    width: 25%;
    height: 400px;
    margin-left: 35%;
}
.img2{
    width: 25%;
    height: 400px;
    margin-left: 35%;
    opacity: 0.3;
}
.img2:hover{
      opacity: 1;
}
.img3{
    width: 25%;
    height: 400px;
    margin-left: 35%;
}
.img3:hover{
    opacity: 0.6;
}
h1{
    text-align: center;
    font-family: cursive;
    background-color: whitesmoke;
    color: black;
}
h1:hover{
        text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}
p{
    font-family: cursive;
    color: red;
    background-color: darkblue
}
html{
    background-color: darkred;
}
p{
    column-count: 3;
    column-gap: 2.5;
    column-rule: 4px solid lime;
    column-rule-style: groove;
}