ul{
    width:100%;
    background-color: aqua;
    height:150px;
    text-align: center;
}
ul li{
    display:inline-block;
    padding-top: 80px;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    
}